.acres-covered-box {
  align-items: center;
  background-color: #ddedff;
  border: solid 2px white;
  border-radius: 5px;
  bottom: 50px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 47px;
  justify-content: center;
  position: absolute;
  right: 11px;
  width: 169px;
}