.lava-coder-view {
  position: relative;
  display: flex;
  flex-direction: column;
  background: white;

  .lava-coder-simulation {
    width: 100%;
    height: 100%;
  }

  .lava-overlay-controls-left {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    bottom: 30px;
    left: 10px;
    width: 136px;
    height: 40px;
  }

  .lava-overlay-controls-right {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    bottom: 30px;
    right: 10px;
    width: 220px;
    height: 40px;
  }
}
