.lava-coder-view {
  position: relative;
  display: flex;
  flex-direction: column;
  background: white;

  .lava-coder-simulation {
    width: 100%;
    height: 100%;
  }

  .lava-overlay-controls-left {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    top: 10px;
    left: 10px;
    width: 36px;
    height: 350px;

    .compass-heading-indicator {
      background: white;
      width: 34px;
      height: 34px;
      border-radius: 50%;
      border: 2px solid #ccc;
    }

    .home-view-controls {
      margin-top: 30px;
    }

    .rotate-pan-controls, .zoom-controls {
      margin-top: 10px;
    }

    .lava-icon-button {
      display: block;
      width: 100%;
      min-width: 100% !important;
      margin: 0 !important;

      img {
        margin-top: -2px;
        margin-left: -2px;
      }
    }
  }

  .lava-overlay-controls-bottom {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    bottom: 30px;
    height: 40px;

    &.bottom-left-controls {
      left: 10px;
      width: 144px;
    }

    &.bottom-right-controls {
      right: 10px;
      width: 200px;
    }

    img {
      margin-top: 4px;
      margin-right: 2px;
    }
  }
}
