element {
  --run1-color: #66C2A4;
  --run2-color: #FC8D62;
  --run3-color: #8E9FCB;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: absolute;
  top: 10px;
  right: 15px;
  width: 110px;
}

.buttonContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  box-sizing: border-box;
  width: auto;
  height: auto;
  border-radius: 5px;
  background-color: white;
  padding: 5px;
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.35);
  cursor: pointer;
}

.buttonContainer:hover {
  border: solid 2px #fff;
}

.buttonContainer.mainButton {
  top: 0px;
  border: solid 2px #cee6c9;
}

.buttonContainer.mainButton:hover{
  background-color: #cee6c9;
  border: solid 2px #fff;
}

.buttonContainer.mainButton:active{
  background-color: #e6f2e4;
}

.buttonContainer.runButton:hover .buttonText{
  color: #fff;
}

.buttonContainer.runButton#1{
  top: 45px;
  border: 2px solid var(--run1-color);
}

.buttonContainer.runButton#1:hover{
  background-color: var(--run1-color);
}

.buttonContainer.runButton#1.selected{
  background-color: var(--run1-color);
  border: 2px solid var(--run1-color)
}

.buttonContainer.runButton#2{
  top: 90px;
  border: 2px solid var(--run2-color);
}

.buttonContainer.runButton#2:hover{
  background-color: var(--run2-color);
}

.buttonContainer.runButton#2.selected{
  background-color: var(--run2-color);
  border: 2px solid var(--run2-color)
}

.buttonContainer.runButton#3{
  top: 135px;
  border: 2px solid var(--run3-color);
}

.buttonContainer.runButton#3:hover{
  background-color: var(--run3-color);
}

.buttonContainer.runButton#3.selected{
  background-color: var(--run3-color);
  border: 2px solid var(--run3-color)
}

.buttonText {
  font-size: 16px;
  font-weight: bold;
}

.buttonText.mainButton {
  color: #000;
}

.buttonText.runButton#1{
  color: var(--run1-color);
}

.buttonText.runButton#2{
  color: var(--run2-color);
}

.buttonText.runButton#3{
  color: var(--run3-color);
}

.buttonText.running{
  opacity: 25%;
}

