.circle-icon {
    background: #fff;
    width: 20px !important;
    height: 20px !important;
    margin-top: -10px !important;
    margin-left: -10px !important;
    border-radius: 10px;
    box-shadow: 0 0 7px rgba(0,0,0,0.55);
    text-align: center;
    line-height: 20px;
    color: #666;
    z-index: 200 !important;
  }
  
  .div-icon {
    height: 0px;
  }

  .icon-content {
    background: #fff;
    width: max-content !important;
    height: max-content !important;
    margin-top: 5px !important;
    margin-left: 5px !important;
    padding: 5px !important;
    border-radius: 10px;
    box-shadow: 0 0 7px rgba(0,0,0,0.55);
    text-align: center;
    line-height: 20px;
    color: #666;
    z-index: 200 !important;
  }

  .top-left {
    transform: translate(0%, 0%);
  }

  .top-right {
    transform: translate(-100%, 0%);
  }

  .top-center {
    transform: translate(-50%, 0%);
  }

  .bottom-left {
    transform: translate(0%, -100%);
  }

  .bottom-right {
    transform: translate(-100%, -100%);
  }

  .bottom-center {
    transform: translate(-50%, -100%);
  }

  .center-left {
    transform: translate(0%, -50%);
  }

  .center-right {
    transform: translate(-100%, -50%);
  }

  .center-center {
    transform: translate(-50%, -50%);
  }