.react-dat-gui {
  top: -11px;
  opacity: 0.5;
  transition: all 0.3s;
}
.react-dat-gui:hover {
  top: 0px;
  opacity: 1;
}

.react-dat-gui .cr .label-text {
  width: 55%;
}

.react-dat-gui .number .label-text {
  width: 45%!important;
}

.react-dat-gui .number .slider {
  width: 25%!important;
}

.react-dat-gui .number input {
  width: 30%!important;
}

/* give more space to the label for numeric values */
.react-dat-gui .cr.number .label-text {
  flex: 0 0 50%;
}
.react-dat-gui .cr.number .label-text + span{
  flex: 1;
}
