.overlay-button {
  svg, i {
    margin-right: 0.25em;
  }

  &.icon-only {
    width: 30px;
    height: 30px;
    padding: 0;
    min-width: 0;
    svg, i {
      fill: #000;
      margin-right: 0;
    }
  }
}

.overlay-button + .overlay-button {
  margin-left: 12px;
}
