<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>GeoCoder</title>
    <meta name="description" content="Starter Projects">
    <link rel="shortcut icon" href="favicon.ico">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link rel="stylesheet" href="<%= htmlWebpackPlugin.files.publicPath %>index.css">
    <link rel="stylesheet" href="<%= htmlWebpackPlugin.files.publicPath %>css/react-dat-gui.css">
    <link rel="stylesheet" href="<%= htmlWebpackPlugin.files.publicPath %>css/blockly-toolbar-override.css">
    <style>
      .hidden { display: none; }
    </style>
    <script src="<%= htmlWebpackPlugin.files.publicPath %>blockly/blockly_compressed.js"></script>
    <script src="<%= htmlWebpackPlugin.files.publicPath %>blockly/blocks_compressed.js"></script>
    <script src="<%= htmlWebpackPlugin.files.publicPath %>blockly/javascript_compressed.js"></script>
    <script src="<%= htmlWebpackPlugin.files.publicPath %>blockly/en.js"></script>
  </head>
  <body>
    <div id="reactApp" />
  </body>
</html>
